<html>
<head>
        <title>{{ title }}</title>
        <script type="text/javascript" src="static/requests.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <div class="container">
        <h1>Heroes Tutorial!<h1>
        <br>
    </div>
    

    <div class = "container">
        <div class = "row">

            <div class = "col-sm-4">
                <form id="create">
                    New Hero:<br>
                    <input type="text" name="user" id="user"><br>
                    <input type="submit" onclick="post();" value="Create new Hero!">
                </form>
    
                <form id="change">
                    Old Hero:<br>
                    <input type="text" name="oldUser" id="oldUser"><br>
                    New Hero:<br>
                    <input type="text" name="newUser" id="newUser"><br>
                    <input type="submit" onclick="put();" value="Change a Hero!">
                </form>

                <form id="kill">
                    Kill Hero:<br>
                    <input type="text" name="oldUser" id="toDie"><br>

                    <input type="submit" onclick="del();" value="Change a Hero!">
                </form>
            </div>

            
            <div class = "col-sm-4">
                {% for key, value in heroes.items() %}
                <h2>Hello,  {{value.username}}</h2>
                {% endfor %}
            </div>

        </div>
    </div>
</body>
</html>